.pull-right
  = link_to "Back", infant_feeding_labels_path, class: "btn btn-success"
.container
  .vaccination-container
    %h1 New Infant Feeding Label
    %br
    = bootstrap_form_for  @infant_feeding_label, url: infant_feeding_labels_path,  local: true do |form|
      .row
        .col-sm-8
          = form.text_field :title,  placeholder: "enter infant feeding label"
      .row
        .col-sm-8
          = form.select :input_type, ["checkbox", "radio"]  
      .row  
        .col-sm-4
          = form.select :min_duration,@months
        .col-sm-4
          = form.select :max_duration,  @months   

      = form.submit "submit", class: "btn btn-lg btn-success"
