= form_with(model: health, local: true) do |form|
  - if @health.errors.any?
    #error_explanation
      %h2
        = pluralize(health.errors.count, "error")
        prohibited this health from being saved:
      %ul
        - @health.errors.full_messages.each do |message|
          %li= message
  .actions
    = form.submit