.pull-right
  - if current_user.admin?
    = link_to "Back", babies_path, class: "btn btn-success"
.container
  %h1 Baby Height data Chart
  = link_to "Download Data", height_baby_healths_path(@baby, format: "csv")
  %br
  .index-container
    .col-md-12
      = chartjs_line_chart(@data,{title: {display:true, position: "bottom", text: "Age in Month"}, scales: {xAxes: [{gridLines: {display:true}}], yAxes: [{scaleLabel: {display: true,labelString: 'Height in cm'},gridLines: {display:true}, ticks: {beginAtZero:true}}]}, maintainAspectRatio: false, height: 500}) 