.container.index-container
  .col-md-12
  %h3 INFANT FEEDING
  = form_for @baby, url: baby_baby_infant_feedings_path, method: :post,  id: "infant_feeding_form" do |f|       
    %table.table.table-bordered
      %thead
        %tr
          %th Follow up time
          - @infant_feeding_months.where("infant_feeding_months.order <= ?", 5).each do |infant_feeding_month|
            %th= "#{infant_feeding_month.title}"      
      %tbody
        - @infant_feeding_labels.only_checkbox.each do |infant_feeding_label|
          - if infant_feeding_label.min_duration.to_i <= 5  
            %tr  
              %td= "#{infant_feeding_label.title}"
              - @infant_feeding_months.where("infant_feeding_months.order <= ?", 5).each do |infant_feeding_month|  
                - if infant_feeding_month.order <= 5  
                  = f.fields_for :baby_infant_feedings, @baby.baby_infant_feedings.new do |form|  
                    - if infant_feeding_month.order >= infant_feeding_label.min_duration.to_i &&  infant_feeding_month.order <= infant_feeding_label.max_duration.to_i
                      %td
                        = form.text_field :infant_feeding_label_id, {value: infant_feeding_label.id, class: "hide"}
                        = form.check_box :infant_feeding_month_id, {checked: @baby.baby_infant_feedings.where(infant_feeding_label_id: infant_feeding_label.id).map(&:infant_feeding_month_id).include?(infant_feeding_month.id), disabled: @baby.baby_infant_feedings.where(infant_feeding_label_id: infant_feeding_label.id).map(&:infant_feeding_month_id).include?(infant_feeding_month.id)}, infant_feeding_month.id
                    -else
                      %td
        - @infant_feeding_labels.only_radio.each do |infant_feeding_label|
          %tr  
            %td= "#{infant_feeding_label.title}" 
            = f.fields_for :baby_infant_feedings, @baby.baby_infant_feedings.new do |form|  
              %td{colspan: "5"}
                = form.radio_button :infant_feeding_label_id, infant_feeding_label.id, checked: @baby.baby_infant_feedings.pluck(:infant_feeding_label_id).include?(infant_feeding_label.id), disabled: @baby.baby_infant_feedings.pluck(:infant_feeding_label_id).include?(infant_feeding_label.id)


    %table.table.table-bordered
      %thead
        %tr
          %th Follow up time
          - @infant_feeding_months.where("infant_feeding_months.order >= ? and infant_feeding_months.order <=  ?",6,15).each do |infant_feeding_month|
            %th= "#{infant_feeding_month.title}"      
      %tbody
        - @infant_feeding_labels.only_checkbox.each do |infant_feeding_label|
          - if infant_feeding_label.min_duration.to_i >= 1 && infant_feeding_label.min_duration.to_i <= 15
            %tr  
              %td= "#{infant_feeding_label.title}"
              - @infant_feeding_months.where("infant_feeding_months.order >= ? and infant_feeding_months.order <=  ?",6,15).each do |infant_feeding_month|  
                - if infant_feeding_month.order >= 6 && infant_feeding_month.order <= 15  
                  = f.fields_for :baby_infant_feedings, @baby.baby_infant_feedings.new do |form|  
                    - if infant_feeding_month.order >= infant_feeding_label.min_duration.to_i &&  infant_feeding_month.order <= infant_feeding_label.max_duration.to_i
                      %td
                        = form.text_field :infant_feeding_label_id, {value: infant_feeding_label.id, class: "hide"}
                        = form.check_box :infant_feeding_month_id, {checked: @baby.baby_infant_feedings.where(infant_feeding_label_id: infant_feeding_label.id).map(&:infant_feeding_month_id).include?(infant_feeding_month.id), disabled: @baby.baby_infant_feedings.where(infant_feeding_label_id: infant_feeding_label.id).map(&:infant_feeding_month_id).include?(infant_feeding_month.id)},infant_feeding_month.id
                    -else
                      %td
              

    %table.table.table-bordered
      %thead
        %tr
          %th Follow up time
          - @infant_feeding_months.where("infant_feeding_months.order >= ? and infant_feeding_months.order <=  ?",16,24).each do |infant_feeding_month|
            %th= "#{infant_feeding_month.title}"       
      %tbody
        - @infant_feeding_labels.only_checkbox.each do |infant_feeding_label|
          - if infant_feeding_label.max_duration.to_i >= 16
            %tr  
              %td= "#{infant_feeding_label.title}"
              - @infant_feeding_months.where("infant_feeding_months.order >= ? and infant_feeding_months.order <=  ?",16,24).each do |infant_feeding_month|  
                - if infant_feeding_month.order >= 16 && infant_feeding_month.order <= 24
                  = f.fields_for :baby_infant_feedings, @baby.baby_infant_feedings.new do |form|  
                    - if infant_feeding_month.order >= infant_feeding_label.min_duration.to_i &&  infant_feeding_month.order <= infant_feeding_label.max_duration.to_i
                      %td
                        = form.text_field :infant_feeding_label_id, {value: infant_feeding_label.id, class: "hide"}
                        = form.check_box :infant_feeding_month_id, {checked: @baby.baby_infant_feedings.where(infant_feeding_label_id: infant_feeding_label.id).map(&:infant_feeding_month_id).include?(infant_feeding_month.id), disabled: @baby.baby_infant_feedings.where(infant_feeding_label_id: infant_feeding_label.id).map(&:infant_feeding_month_id).include?(infant_feeding_month.id)}, infant_feeding_month.id
                    -else
                      %td
                  

        .col-md-12
          %hr
    .pull-right
      = f.submit "Save",class: "btn btn-success"
