.container
  .row
  .container.index-container
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title.text-center
          %h4 Searched Results
        .ibox-content
        - if @babies.present? 
          %table.table.table-bordered
            %thead
              %tr
                %th.text-center Total Babies 
            %tbody
              %tr
                %td List of babies
                - @babies.each do |baby|
                  %td= baby.first_name
        - else
          No babies found