.container
  .search-bar
    = form_tag( root_path, method: 'get', remote: true)  do
      = date_field_tag :date
      = select_tag :filter, options_for_select(["Moderate Stunted Height", "Severe Stunted Height", "Moderate Under Weight", "Severe Under Weight"])
      = submit_tag "Search", class: "btn btn-md btn-success"

#search_result

.container
  .row
    .col-md-7.col-md-offset-3
      %h1 Welcome To Child Health Care System
  .container.index-container
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title.text-center
          %h2 Babies List
        .ibox-content
          %table.table.table-bordered
            %thead
              %tr
                %th.text-center Total Babies 
                %th Count
            %tbody
              %tr
                %td Male
                %td= @male_babies
              %tr
                %td Female
                %td= @female_babies
              %tr
                %th 
                  Per hospital/clinic
                  = link_to "", "javascript:void(0)", class: "glyphicon glyphicon-plus", id: "hospital-plus"
                  = link_to "", "javascript:void(0)", class: "glyphicon glyphicon-minus", id: "hospital-minus"
                %td

              - @hospital_babies.each do |hospital_baby|
                %tr.hospital-list
                  %td{style: "padding-left: 20px;"}= hospital_baby.hospital_name
                  %td= hospital_baby.babies_count

              %tr
                %th 
                  Per City
                  = link_to "", "javascript:void(0)", class: "glyphicon glyphicon-plus", id: "city-plus"
                  = link_to "", "javascript:void(0)", class: "glyphicon glyphicon-minus", id: "city-minus"
                %td
                
              - @city_babies.each do |city_baby|
                %tr.city-list
                  %td{style: "padding-left: 20px;"}= city_baby.city_name.capitalize
                  %td= city_baby.size

              %tr
                %th Method of delivery
                %td

              - @babies_by_delivery_method.each do |d_method|
                %tr.delivery-method-list
                  %td{style: "padding-left: 20px;"}= d_method.mode_of_delivery
                  %td= d_method.babies_count

              %tr
                %td AGPR score (0-4)
                %td= @low_agpr_score
              %tr
                %td AGPR score (5-10)
                %td= @high_agpr_score
              %tr
                %td Below Normal weight (2.5kg)
                %td= @below_normal_weight
              %tr
                %td Above Normal weight
                %td= @normal_weight
              %tr
                %td Below Normal height
                %td= @normal_height
              %tr
                %td Over Normal height
                %td= @overnormal_height
  .container.index-container
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title.text-center
          %h2 Risk Factors
        .ibox-content
          %table.table.table-bordered
            %thead
              %tr
                %th.text-center Total Babies 
                %th Count
            %tbody
              %tr
                %td Born with HIV from MTCT
                %td= @mtct_babies
              %tr
                %td Which are fifth or more
                %td= @fifth_child_or_more
              %tr
                %td  Whose birth intervals is less than 2 years
                %td= @birth_interval
              %tr
                %td Born in multiple births
                %td= @multiple_births
              %tr
                %td With death of any child under 5 in family
                %td= @death_of_any_child
              %tr
                %td With Severe Jaundice
                %td= @severe_jaundice_babies
              %tr
                %td With Asphyxia
                %td= @asphyxia_babies
              %tr
                %td Born by single parents
                %td= @single_parent_babies
              %tr
                %td With maternal death
                %td= @maternal_death_babies
  .container.index-container
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title.text-center
          %h2 Infant Feeding 
        .ibox-content
          %table.table.table-bordered
            %thead
              %tr
                %th.text-center Total Babies
                %th Count
            %tbody
              %tr
                %td Breast fed up to 6 Months
                %td= @fed_from_birth_to_6M
              %tr
                %td Breast fed up to 24 Months
                %td= @fed_from_birth_to_24M
              %tr
                %td Eating 4-star diet
                %td= @star_diet
              %tr
                %td Eating 4 meals per day
                %td= @meals_per_day            
  .container.index-container
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title.text-center
          %h2 Cares
        .ibox-content
          %table.table.table-bordered
            %thead
              %tr
                %th.text-center Total #
                %th Count
            %tbody
              %tr
                %td Mothers giving birth HIV/AIDS
                %td= @hiv_mothers
              %tr
                %td Babies born with HIV
                %td= @hiv_babies
              %tr
                %td Babies born without HIV
                %td= @non_hiv_babies
  .container.index-container
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title.text-center
          %h2 Vitamin A
        .ibox-content
          %table.table.table-bordered
            %thead
              %tr
                %th.text-center Total Babies 
                %th Count
            %tbody
              %tr
                %td Given vitamin A per month
                %td= @vitamin_babies
%br
%br  
.container
  %br
  = link_to "Download Babies Data", download_data_path(format: 'csv')
  .container
    .col-md-12
      =# chartjs_line_chart(babies_age_chart_data,{title: {display:true, position: "bottom", text: "Age in Month"}, scales: {xAxes: [{gridLines: {display:true}, ticks: {beginAtZero: true ,min: 0,max: 60, callbacks: "function(aa, index, values) { return index*6;}"}}], yAxes: [{scaleLabel: {display: true,labelString: 'Percentage'},gridLines: {display:true}, ticks: {beginAtZero: false, min: 0, max: 100, stepSize: 20}}]},legend: {position: 'bottom'}, maintainAspectRatio: false, height: 500})

      #chartContainer{style: "height: 300px; width: 100%;"}

  %br

- if current_user.present?
  %h2{style: "text-align: center;"} Vaccinations Graphs
  %br
  %table{style: "width:100%;"}  
    %tbody    
      %tr
        %td{style: "width:50%;"}
          %h4 Children Age 0-23 months 
          = link_to "Download Vaccination Data", vaccinations_path(format: "csv")
          %br
            %div{style: "width: 70%;"}
              = chartjs_horizontal_bar_chart(vaccination_bar_chart_under23_age_data,{scales: {xAxes: [{gridLines: {display:true}, ticks: {min: 0, max: 100, stepSize: 10}}], yAxes: [{scaleLabel: {display: true,labelString: 'Vaccination Count'},gridLines: {display:false}, ticks: {beginAtZero:true}}]}, legend: {display: false}, maintainAspectRatio: false})
        %td{style: "width:50%;"}
          %h4 Children Age 24-60 months
          = link_to "Download Vaccination Data", vaccinations_path(format: "csv")
          %br
            %div{style: "width: 80%;"}
              = chartjs_horizontal_bar_chart(vaccination_bar_chart_over23_age_data,{scales: {xAxes: [{gridLines: {display:true}, ticks: {min: 0, max: 100, stepSize: 10}}], yAxes: [{scaleLabel: {display: true,labelString: 'Vaccination Count'},gridLines: {display:false}, ticks: {beginAtZero:true}}]}, legend: {display: false}, maintainAspectRatio: false})


:javascript
  $.ajax({
  url: "/babies/get_report_data",
  dataType: "jsonp",
  })
  .complete(function( data ) {
    aa = JSON.parse(data.responseText);
    console.log(aa);
    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
        text: "Babies Data Chart"
      },
      axisX:{
        interval: 5,
        minimum: 0,
        maximum: 100,
        gridThickness: 1,
        gridColor: "#C5C6C8",
        lineColor: "#B9BABC",
        labelFontColor: "#666666",
        title: "Age in months" 

      },
      axisY:{
        minimum: 0,
        maximum: 100,
        interval: 20,
        gridThickness: 0, 
        gridColor: "#C5C6C8",
        lineColor: "#B9BABC",
        labelFontColor: "#666666",
        title: "Percentage of Babies"

      },
      data: aa,
      backgroundColor: "#E0E1E3"
   });

   chart.render();
  });

 
  
    $(function(){
      $(".hospital-list").hide();
      $(".city-list").hide();
      $("#hospital-plus").on("click", function(){
          $(".hospital-list").show();
      });
      $("#hospital-minus").on("click", function(){
          $(".hospital-list").hide();
      });
      $("#city-plus").on("click", function(){
          $(".city-list").show();
      });
      $("#city-minus").on("click", function(){
          $(".city-list").hide();
      });
  });