.pull-right
  = link_to "Back", hospital_user_babies_path, class: "btn btn-success"
.container
  .container.babysignup-container
    .col-md-12
      %h1 Update Baby Account
      %br/
      = render partial: "edit_form"
      %br
.container
  .container.vitamin-container
    .col-md-12
      %h1 Health Information
      .row
        .pull-right
          = link_to "Add Health info", new_hospital_user_baby_health_path(@hospital, @user, @baby), class: "btn btn-info"
      %br/
      %table.table.table-bordered
        %thead
          %tr
            %th age(in months)
            %th Height(cm)
            %th weight(Kg)
        %tbody
          - @baby.healths.each do |info|
            %tr
              %td= @baby.age_in_months
              %td= info.height
              %td= info.weight
