.pull-right
  = link_to "Back",  hospital_user_babies_path, class: "btn btn-success"
.container
  .container.table-container
    .col-md-12
      %h1 Information of Baby
    .row
      .col-md-12
        %table.table.table-bordered
          %thead
            %tr
              %th #
              %th Full Name
              %th Place Of Birth
              %th Date Of Birth
              %th Gender
              %th Height (cm)
              %th Weight (Kg)
          %tbody
            %tr
              %td= @baby.id
              %td= @baby.full_name
              %td= @baby.place_of_birth
              %td= @baby.date_of_birth
              %td= @baby.sex
              %td= @baby.healths.last.height
              %td= @baby.healths.last.weight
      %h3 Mother's Detail
      .col-md-12
        %table.table.table-bordered
          %thead
            %tr
              %th #
              %th Full Name
              %th Email
              %th Address
              %th Contact No.
          %tbody
            %tr
              %td= @baby.mother.try(:id)
              %td= @baby.mother.try(:full_name)
              %td= @baby.mother.try(:email)
              %td= @baby.mother.try(:physical_address)
              %td= @baby.mother.try(:phone_number)
      %h3 Father's Detail
      .col-md-12
        %table.table.table-bordered
          %thead
            %tr
              %th #
              %th Full Name
              %th Email
              %th Address
              %th Contact No.
          %tbody
            %tr
              %td= @baby.father.try(:id)
              %td= @baby.father.try(:full_name)
              %td= @baby.father.try(:email)
              %td= @baby.father.try(:physical_address)
              %td= @baby.father.try(:phone_number)
      %h3 Risk Factors
      .col-md-3
        %ul.nav
        - @baby.risk_factors.each do |risk_factor|
          %li
            = risk_factor.title




  