!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChildHealthSystem
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://canvasjs.com/assets/script/canvasjs.min.js'
    
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .navbar-header
        %a.navbar-brand{:href => "#"} Child Health System
      %ul.nav.navbar-nav.pull-right
        - if current_user
          - if current_user.admin?
            %li= link_to 'Dashboard', root_path
            %li= link_to 'Hospitals', hospitals_path
            %li= link_to 'Managers', managers_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Babies Information
                %span.caret
              %ul.dropdown-menu
                %li= link_to 'Babies Record', babies_path
                %li= link_to "Vaccinations", vaccinations_path
                %li= link_to 'RiskFactors', risk_factors_path
                %li= link_to 'InfantFeeding', infant_feeding_labels_path
                %li= link_to 'Care', care_labels_path
                %li= link_to 'Import Data', babies_path(format: "csv")
          - elsif current_user.manager? || current_user.nurse?
            %li= link_to 'Dashboard', root_path
            %li= link_to 'Baby Account', hospital_user_babies_path(current_user.hospital, current_user)
            %li= link_to "vaccination",  new_baby_vaccination_path
            %li= link_to 'VitaminA suppliment',  new_baby_vitamin_path
            - if current_user.manager?  
              %li= link_to 'Nurses', hospital_users_path(current_user.hospital)
          %li= link_to 'SignOut',  destroy_user_session_path,{method: :delete}
        - else
          %li= link_to 'Login',  new_user_session_path, class: "glyphicon glyphicon-log-in"
          %li= link_to 'SignUp', new_user_registration_path, class: "glyphicon glyphicon-user"
    .top-container
      = render partial: "shared/flash_messages"
      = yield
